<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button routerLink="/" class="btn btn-link">На главную</button>
  </div>
  <div class="info">
    <strong>Тут автор</strong>
    <small>09.03.2022</small>
    <div>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus, sint
        quis suscipit molestiae nesciunt itaque officiis unde nam reprehenderit,
        perferendis veritatis ducimus, assumenda sequi dolor repellendus error
        optio quisquam provident! Suscipit assumenda numquam itaque consectetur
        repudiandae reprehenderit? Molestias, accusamus ipsum voluptatem,
        asperiores alias nisi tenetur dignissimos suscipit animi, ducimus quis?
      </p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus, sint
        quis suscipit molestiae nesciunt itaque officiis unde nam reprehenderit,
        perferendis veritatis ducimus, assumenda sequi dolor repellendus error
        optio quisquam provident! Suscipit assumenda numquam itaque consectetur
        repudiandae reprehenderit? Molestias, accusamus ipsum voluptatem,
        asperiores alias nisi tenetur dignissimos suscipit animi, ducimus quis?
      </p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus, sint
        quis suscipit molestiae nesciunt itaque officiis unde nam reprehenderit,
        perferendis veritatis ducimus, assumenda sequi dolor repellendus error
        optio quisquam provident! Suscipit assumenda numquam itaque consectetur
        repudiandae reprehenderit? Molestias, accusamus ipsum voluptatem,
        asperiores alias nisi tenetur dignissimos suscipit animi, ducimus quis?
      </p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus, sint
        quis suscipit molestiae nesciunt itaque officiis unde nam reprehenderit,
        perferendis veritatis ducimus, assumenda sequi dolor repellendus error
        optio quisquam provident! Suscipit assumenda numquam itaque consectetur
        repudiandae reprehenderit? Molestias, accusamus ipsum voluptatem,
        asperiores alias nisi tenetur dignissimos suscipit animi, ducimus quis?
      </p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus, sint
        quis suscipit molestiae nesciunt itaque officiis unde nam reprehenderit,
        perferendis veritatis ducimus, assumenda sequi dolor repellendus error
        optio quisquam provident! Suscipit assumenda numquam itaque consectetur
        repudiandae reprehenderit? Molestias, accusamus ipsum voluptatem,
        asperiores alias nisi tenetur dignissimos suscipit animi, ducimus quis?
      </p>
    </div>
  </div>
</div>
